{% extends "base.html" %}

{% block content %}
	<div class="container">



		<div class="row tab-content">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#EGRP" data-toggle="tab">ЕГРП</a></li>
        <li role="presentation"><a href="#GKN" data-toggle="tab">ГКН</a></li>
      </ul>

  		<div class="tab-pane fade active in col-md-12" id="EGRP">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h4>Заказ выписки из ЕГРП:</h4>
          {% include "form_EGRP_addr.html" %}
        </div>
        <div class="col-md-4"></div>
  		</div>

      <div class="tab-pane fade col-md-12" id="GKN">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h4>Заказ выписки из ГКН:</h4>
          {% include "form_GKN_addr.html" %}
        </div>
        <div class="col-md-4"></div>
      </div>

		</div>

	</div>


{% endblock %}