<form action="{{ form.target }}" method="POST">
  <div class="form-group">
    <label for="region">Регион:</label>
    <input type="text" class="form-control" id="region" placeholder="Регион земельного участка">
  </div>
  <div class="form-group">
    <label for="rayon">Район:</label>
    <input type="text" class="form-control" id="rayon" placeholder="Район">
  </div>
  <div class="form-group">  
    <label for="punkt">Населённый пункт:</label>
    <input type="text" class="form-control" id="punkt" placeholder="Населённый пункт">
  </div>
  <div class="form-group">  
    <label for="ulitsa">Улица:</label>
    <input type="text" class="form-control" id="ulitsa" placeholder="Улица">
  </div>
  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 no-gutter-left">
    <label for="dom">Дом:</label>
    <input type="text" class="form-control" id="dom" placeholder="Дом">
  </div>
  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 no-gutter-right">
    <label for="stroenie">Строение:</label>
    <input type="text" class="form-control" id="stroenie" placeholder="Строение">
  </div>
  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 no-gutter-left">
    <label for="korpus">Корпус:</label>
    <input type="text" class="form-control" id="korpus" placeholder="Корпус">
  </div>
  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6 no-gutter-right">
    <label for="kvartira">Квартира:</label>
    <input type="text" class="form-control" id="kvartira" placeholder="Квартира">
  </div>
  <input type="submit" class="btn btn-success" value="Заказать">
</form>