{% extends "base.html" %}

{% block content %}
	<div class="container">

    <ul class="nav nav-tabs nav-justified" role="tablist">

      <li class="nav-item active" role="presentation">
        <a class="nav-link" href="#EGRP" data-toggle="tab" role="tab">
          Заказать выписку из ЕГРП
        </a>
      </li>

      <li class="nav-item" role="presentation">
        <a class="nav-link" href="#GKN" data-toggle="tab" role="tab">
          Заказать кадастровую выписку
        </a>
      </li>

    </ul>

		<div class="tab-content">

  		<div class="row tab-pane fade in active background" id="EGRP" role="tabpanel">
        <div class="col-md-1"></div>
        <div class="col-md-4 formmargin">
          {% include "form_EGRP_addr.html" %}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 questiontop">
          {% include "questions.html" %}
        </div>
        <div class="col-md-1"></div>
  		</div>

      <div class="row tab-pane fade background" id="GKN" role="tabpanel">
        <div class="col-md-1"></div>
        <div class="col-md-4 questiontop">
          {% include "questions.html" %}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 formmargin">
          {% include "form_GKN_addr.html" %}
        </div>
        <div class="col-md-1"></div>
      </div>

		</div>

	</div>


{% endblock %}