<p class="question">Сколько у Вас стоит выписка из ЕГРП?<p>
<p class="answer">Одна выписка ЕГРП стоит 120 рублей.<p>
<p class="question">Когда я получу свою выписку?<p>
<p class="answer">В ближайшие 10-20 минут.<p>
<p class="question">Эта выписка имеет юридическую силу?<p>
<p class="answer">Да. Вы можете её распечатать и использовать например при подготовке межевого плана.<p>
<p class="question">Почему лучше заказывать у Вас?<p>
<p class="answer">Мы готовим выписки в формате .pdf - их удобно читать и распечатывать. К тому же, у нас очень низкие цены.<p>